    @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

    p {
        font-family: "Edu AU VIC WA NT Hand", cursive;
        /* font-style: italic; */
        font-weight: 700;
        font-size: large;
    }

    * {
        margin: 5px;
        padding: 5px;
        /* background-image:-moz-element(); */
        background-color: #fdfde3;
    }

    .box {
        display: flex;
        margin: 10px;
        padding: 5px;
        /*height: 20vh;
        width: 85vw; */
        border: 2px solid rgb(73, 60, 221);
        outline: 4px solid rgb(189, 151, 151);
        box-shadow: 5px 10px 10px rgb(135, 54, 228);
        text-shadow: 2px 2px 5px green;
        border-radius: 15px;
        outline-offset: 5px;
        overflow: auto;
    }

    .mainbox {
        width: 250px;
        display: flex;
        margin: 10px;
        padding: 10px;
        /*height: 20vh;
        width: 85vw; */
        border: 2px solid rgb(255, 111, 0);
        outline: 4px solid rgb(255, 1, 137);
        box-shadow: 5px 10px 10px rgb(255, 0, 0);
        text-shadow: 2px 2px 5px rgb(253, 0, 0);
        border-radius: 5%;
        outline-offset: 5px;
        /* overflow: auto; */
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        list-style-position: inside;
        list-style-type: "💠";
        padding: 2vw;
        /* list-style:none; */
        /* list-style-image: "https://miro.medium.com/v2/resize:fit:2000/format:webp/1*WNv2vYX_vB2RA_O43Phrmw.gif"; */
    }

    nav {
        display: flex;
    }

    a {
        display: inline;
    }

    .yt {
        border: 2px solid rgb(255, 0, 0);
        outline: 4px solid rgb(255, 64, 0);
        box-shadow: 5px 10px 10px rgb(246, 0, 0);
    }

    .repl {
        border: 2px solid rgb(255, 94, 0);
        outline: 4px solid rgb(255, 94, 0);
        box-shadow: 5px 10px 10px rgb(255, 94, 0);
    }

    .linked {
        border: 2px solid rgb(0, 17, 255);
        outline: 4px solid rgb(25, 36, 192);
        box-shadow: 5px 10px 10px rgba(0, 98, 255, 0.515);
    }

    .play {
        border: 2px solid rgb(0, 247, 255);
        outline: 4px solid rgb(21, 178, 235);
        box-shadow: 5px 10px 10px rgb(20, 167, 172);
    }

    .twit {
        border: 2px solid rgb(125, 118, 118);
        outline: 4px solid rgb(125, 118, 118);
        box-shadow: 5px 10px 10px rgb(125, 118, 118);
    }
