@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

p {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 700;
    font-size: large;
}

* {
    margin: 5px;
    padding: 5px;
    background-color: #fdfde3;
}

.box {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(73, 60, 221);
    outline: 4px solid rgb(189, 151, 151);
    box-shadow: 5px 10px 10px rgb(135, 54, 228);
    text-shadow: 2px 2px 5px green;
    outline-offset: 5px;
}

.mainbox {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(255, 111, 0);
    outline: 4px solid rgb(255, 1, 137);
    box-shadow: 5px 10px 10px rgb(255, 0, 0);
    text-shadow: 2px 2px 5px rgb(253, 0, 0);
    outline-offset: 5px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style-position: inside;
    list-style-type: "💠";
    padding: 2vw;
}

nav {
    display: flex;
}